# exclude IntelliJ Idea project files
.idea
*.iml
*.ipr
*.iws
*.ids
# exclude top level project files
#/config
/data
/log
/temp
out/
meta-inf/
/target
/Metodichka_po_kursovoy_rabote
/Метод указания лаб - последняя редакция.pdf
*.html
*.css
*.js
package-list
